{% extends 'base.html' %}

{% block mainContent %}
<div class="row">

  <div class="col-3 mb-4">
    <div class="mb-2 rounded bg-dark" style="min-width: 150px">
      <div class="row m-0 text-center">
          <p class="display-6 mb-0">All Profiles</p>
      </div>
    </div>
  
    <div class="rounded myborder bg-warmwhite" style="min-width: 150px">
      {% for profile in allProfiles %}
      <div class="row m-0">
        <div class="card bg-dark {{ 'mt-2' if loop.index!=1 else ''}} {{ 'border-4 border-warning' if activeProfile == profile.displayName else '' }}">
          <a class="display-7 mb-0 btn" href="{{ url_for('getProfile', id = profile.id) }}" style="color: wheat">
            {{ '*' if activeProfile == profile.displayName else '' }}
            {{ profile.displayName }}
          </a>
        </div>
      </div>
      {% endfor %}

      <div class="row m-0">
        <div class="card bg-dark mt-4">
          <a class="display-7 mb-0 btn" href="{{ url_for('newProfile') }}" style="color: wheat">
            <b>Add new Profile</b>
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 col-md-6">
    <form action="" method="POST">

    <div class="row text-center mx-auto mb-2 settings-card">
      <!-- <p id="profileNameText" class="display-4 bg-dark rounded">{{ profileName }}</p> -->
      {{ form.profileName(class="form-control display-4 bg-dark rounded text-color profileNameInput", value=profileName) }}
      <!-- <button id="editProfileNameButton" style='font-size:24px'><i class='far fa-edit'></i></button> -->
    </div>

    <div class="bg-dark card shadow mx-auto p-3 settings-card">

        <div class="row">
          <div class="col">
            <h3>{{ form.pumpCycleLength.label }}</h3>
          </div>
          <div class="col">
    
            <div class="input-group input-group-sm ms-auto settings-input" >
              {{ form.pumpCycleLength(class="form-control bg-dark text-color text-right", value=currentSettings.pumpCycleLength) }}
              <span class="input-group-text p-1">minutes</span>
            </div>
    
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <h3>{{ form.lightIntensity.label }}</h3>
          </div>
          <div class="col">
            
            <div class="input-group input-group-sm ms-auto settings-input" >
              {{ form.lightIntensity(class="form-control bg-dark text-color text-right", value=currentSettings.lightIntensity) }}
              <span class="input-group-text">%</span>
            </div>
    
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <h3 class="col">{{ form.overrideActive.label }}</h3>
          </div>
          <div class="col">
              {{ form.overrideActive(class="form-check-input float-end", checked=currentSettings.overrideActive) }}
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <h3 class="col">{{ form.pumpOverride.label }}</h3>
          </div>
          <div class="col">
              {{ form.pumpOverride(class="form-check-input float-end", checked=currentSettings.pumpOverride) }}
            </div>
        </div>

        {% if profileName != activeProfile %}
          <div class="row">
            <div class="col">
              <h3 class="col">{{ form.isActive.label }}</h3>
            </div>
            <div class="col">
              {{ form.isActive(class="form-check-input float-end", checked=false) }}
            </div>
          </div>
        {% endif %}
    
        <div class="row px-2">
          {{ form.hidden_tag() }}
          {{ form.submit }}
        </div>
      </div>
    </form>
  </div>

</div>
{% endblock %}
