{% extends 'base.html' %}

{% block mainContent %}

<table class="table mt-2 table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <th id="time"></th>
            <td id="temp"></td>
            <td id="humidity"></td> -->
        </tr>
        {% for reading in readings %}
            <tr>
                <th>{{ reading.timestamp.strftime('%x %X') }}</th>
                <td>{{ "%.2f °F"|format(reading.temperature) }}</td>
                <td>{{ reading.humidity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}