{% extends 'base.html' %}

{% block mainContent %}

<script type=text/javascript>
    
//    function update_values() {
//        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
//        $.getJSON($SCRIPT_ROOT+"/_readings",
//            function(data) {
//                $("#temp").text(data[0].temperature)
//                $("#time").text(data[0].timestamp)
//                $("#humidity").text(data[0].humidity)
//            });
//    }
//function _update()
//{
//    $.get("{{ url_for('readings') }}")
//}

//window.setInterval(_update, 2000);
</script>

<table class="table mt-2 table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <th id="time"></th>
            <td id="temp"></td>
            <td id="humidity"></td> -->
        </tr>
        {% for reading in readings %}
            <tr>
                <th>{{ reading.timestamp.strftime('%x %X') }}</th>
                <td>{{ "%.2f °F"|format(reading.temperature) }}</td>
                <td>{{ reading.humidity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}